<a href="https://colab.research.google.com/github/rit-clone/coursera-course-recommender/blob/main/coursera_recommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("drive/MyDrive/Colab Notebooks/Datasets/Coursera courses/Coursera.csv")

In [3]:
data.sample(5)

,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills
2302,Programming for the Internet of Things Project,"University of California, Irvine",Advanced,4.7,https://www.coursera.org/learn/internet-of-thi...,"In this Capstone course, you will design a mic...",internet Computer Programming internet of th...
82,Successful Interviewing,"University of Maryland, College Park",Advanced,4.7,https://www.coursera.org/learn/successful-inte...,The goal of hiring managers is not just to hir...,Strategy canned response show me! interview...
312,Making Sense of the News: News Literacy Lesson...,The State University of New York,Intermediate,4.8,https://www.coursera.org/learn/news-literacy,Never before has the need for News Literacy be...,faith power politics network news transfer p...
3104,Quantum Mechanics,University of Colorado Boulder,Beginner,4.6,https://www.coursera.org/learn/quantum-mechanics,Course 2 of Statistical Thermodynamics present...,chemistry Aerospace Engineering computationa...
1978,Budgeting and Scheduling Projects,"University of California, Irvine",Beginner,4.7,https://www.coursera.org/learn/schedule-projects,A good project schedule helps all team members...,project schedule (project management) Budget...

In [4]:
data.shape

(3522, 7)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3522 entries, 0 to 3521
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Course Name         3522 non-null   object
 1   University          3522 non-null   object
 2   Difficulty Level    3522 non-null   object
 3   Course Rating       3522 non-null   object
 4   Course URL          3522 non-null   object
 5   Course Description  3522 non-null   object
 6   Skills              3522 non-null   object
dtypes: object(7)
memory usage: 192.7+ KB

In [6]:
data.isnull().sum()

Course Name           0
University            0
Difficulty Level      0
Course Rating         0
Course URL            0
Course Description    0
Skills                0
dtype: int64

In [7]:
data['University'].value_counts()

Coursera Project Network                      562
University of Illinois at Urbana-Champaign    138
Johns Hopkins University                      110
University of Michigan                        101
University of Colorado Boulder                101
                                             ...
GitLab                                          1
Yeshiva University                              1
University of Glasgow                           1
Laureate Education                              1
The World Bank Group                            1
Name: University, Length: 184, dtype: int64

In [8]:
required_cols = ['Course Name','Difficulty Level','Course Description','Skills']

In [9]:
data = data[required_cols]

In [10]:
data.head()

,Course Name,Difficulty Level,Course Description,Skills
0,Write A Feature Length Screenplay For Film Or ...,Beginner,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,Business Strategy: Business Model Canvas Analy...,Beginner,"By the end of this guided project, you will be...",Finance business plan persona (user experien...
2,Silicon Thin Film Solar Cells,Advanced,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...
3,Finance for Managers,Intermediate,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...
4,Retrieve Data using Single-Table SQL Queries,Beginner,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...

In [11]:
data['Course Name'] = data['Course Name'].str.replace(' ',',')
data['Course Name'] = data['Course Name'].str.replace(',,',',')
data['Course Name'] = data['Course Name'].str.replace(':','')
data['Course Description'] = data['Course Description'].str.replace(' ',',')
data['Course Description'] = data['Course Description'].str.replace(',,',',')
data['Course Description'] = data['Course Description'].str.replace('_','')
data['Course Description'] = data['Course Description'].str.replace(':','')
data['Course Description'] = data['Course Description'].str.replace('(','')
data['Course Description'] = data['Course Description'].str.replace(')','')

<ipython-input-11-ce60a6c4653b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Course Name'] = data['Course Name'].str.replace(' ',',')
<ipython-input-11-ce60a6c4653b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Course Name'] = data['Course Name'].str.replace(',,',',')
<ipython-input-11-ce60a6c4653b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Course Name'] = data['Course Name'].str.replace(':','')
<ipython-input-11-ce60a6c4653b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Course Description'] = data['Course Description'].str.replace(' ',',')
<ipython-input-11-ce60a6c4653b>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Course Description'] = data['Course Description'].str.replace(',,',',')
<ipython-input-11-ce60a6c4653b>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Course Description'] = data['Course Description'].str.replace('_','')
<ipython-input-11-ce60a6c4653b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Course Description'] = data['Course Description'].str.replace(':','')
<ipython-input-11-ce60a6c4653b>:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['Course Description'] = data['Course Description'].str.replace('(','')
<ipython-input-11-ce60a6c4653b>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Course Description'] = data['Course Description'].str.replace('(','')
<ipython-input-11-ce60a6c4653b>:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['Course Description'] = data['Course Description'].str.replace(')','')
<ipython-input-11-ce60a6c4653b>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Course Description'] = data['Course Description'].str.replace(')','')

In [71]:
data.shape

(3522, 5)

In [72]:
data['tags'] = data['Course Name'] + data['Difficulty Level'] + data['Course Description'] + data['Skills']
data.head()

,Course Name,Difficulty Level,Course Description,Skills,tags
0,"Write,A,Feature,Length,Screenplay,For,Film,Or,...",Beginner,"Write,a,Full,Length,Feature,Film,Script,In,thi...",Drama Comedy peering screenwriting film D...,"Write,A,Feature,Length,Screenplay,For,Film,Or,..."
1,"Business,Strategy,Business,Model,Canvas,Analys...",Beginner,"By,the,end,of,this,guided,project,you,will,be,...",Finance business plan persona (user experien...,"Business,Strategy,Business,Model,Canvas,Analys..."
2,"Silicon,Thin,Film,Solar,Cells",Advanced,"This,course,consists,of,a,general,presentation...",chemistry physics Solar Energy film lambda...,"Silicon,Thin,Film,Solar,CellsAdvancedThis,cour..."
3,"Finance,for,Managers",Intermediate,"When,it,comes,to,numbers,there,is,always,more,...",accounts receivable dupont analysis analysis...,"Finance,for,ManagersIntermediateWhen,it,comes,..."
4,"Retrieve,Data,using,Single-Table,SQL,Queries",Beginner,"In,this,course,you�ll,learn,how,to,effectively...",Data Analysis select (sql) database manageme...,"Retrieve,Data,using,Single-Table,SQL,QueriesBe..."

In [74]:
df_train = data[['Course Name', 'tags']]
df_train.shape

(3522, 2)

In [75]:
df_train['Course Name'] = df_train['Course Name'].str.replace(',',' ')
df_train.head()

<ipython-input-75-a118ac3c7a5b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['Course Name'] = df_train['Course Name'].str.replace(',',' ')

,Course Name,tags
0,Write A Feature Length Screenplay For Film Or ...,"Write,A,Feature,Length,Screenplay,For,Film,Or,..."
1,Business Strategy Business Model Canvas Analys...,"Business,Strategy,Business,Model,Canvas,Analys..."
2,Silicon Thin Film Solar Cells,"Silicon,Thin,Film,Solar,CellsAdvancedThis,cour..."
3,Finance for Managers,"Finance,for,ManagersIntermediateWhen,it,comes,..."
4,Retrieve Data using Single-Table SQL Queries,"Retrieve,Data,using,Single-Table,SQL,QueriesBe..."

In [76]:
df_train.rename(columns = {'Course Name':'course_name'}, inplace = True)
df_train.shape

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

(3522, 2)

In [77]:
df_train['tags'] = df_train['tags'].apply(lambda x: x.lower())
df_train.head()

<ipython-input-77-6ffea7f584e5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['tags'] = df_train['tags'].apply(lambda x: x.lower())

,course_name,tags
0,Write A Feature Length Screenplay For Film Or ...,"write,a,feature,length,screenplay,for,film,or,..."
1,Business Strategy Business Model Canvas Analys...,"business,strategy,business,model,canvas,analys..."
2,Silicon Thin Film Solar Cells,"silicon,thin,film,solar,cellsadvancedthis,cour..."
3,Finance for Managers,"finance,for,managersintermediatewhen,it,comes,..."
4,Retrieve Data using Single-Table SQL Queries,"retrieve,data,using,single-table,sql,queriesbe..."

In [78]:
df_train.shape

(3522, 2)

In [79]:
from sklearn.feature_extraction.text import CountVectorizer

In [81]:
cv = CountVectorizer(max_features=5000,stop_words='english')

In [82]:
vectors = cv.fit_transform(df_train['tags']).toarray()

In [83]:
import nltk

In [84]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [85]:
def stem(text):
    y=[]
    
    for i in text.split():
        y.append(ps.stem(i))
    
    return " ".join(y)

In [86]:
df_train['tags'] = df_train['tags'].apply(stem)
df_train.head()

<ipython-input-86-da73df32d70c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['tags'] = df_train['tags'].apply(stem)

,course_name,tags
0,Write A Feature Length Screenplay For Film Or ...,"write,a,feature,length,screenplay,for,film,or,..."
1,Business Strategy Business Model Canvas Analys...,"business,strategy,business,model,canvas,analys..."
2,Silicon Thin Film Solar Cells,"silicon,thin,film,solar,cellsadvancedthis,cour..."
3,Finance for Managers,"finance,for,managersintermediatewhen,it,comes,..."
4,Retrieve Data using Single-Table SQL Queries,"retrieve,data,using,single-table,sql,queriesbe..."

In [48]:
from sklearn.metrics.pairwise import cosine_similarity

In [49]:
similarity = cosine_similarity(vectors)

In [87]:
def recommend(course):
    course_index = df_train[df_train['course_name'] == course].index[0]
    distances = similarity[course_index]
    course_list = sorted(list(enumerate(distances)),reverse=True, key=lambda x:x[1])[1:7]
    
    for i in course_list:
        print(df_train.iloc[i[0]].course_name)

In [88]:
recommend('Recommendation Systems with TensorFlow on GCP')

End-to-End Machine Learning with TensorFlow on GCP
Machine Learning for Business Professionals
Applying Machine Learning to your Data with GCP
Art and Science of Machine Learning
How Google does Machine Learning
Production Machine Learning Systems

In [89]:
# import pickle
# 
# pickle.dump(similarity,open('similarity.pkl','wb'))
# pickle.dump(new_df.to_dict(),open('course_list.pkl','wb')) #contains the dataframe in dict 
# pickle.dump(new_df,open('courses.pkl','wb'))